.background {
    background-image: url(https://images.unsplash.com/photo-1606075919627-35292c97a54c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=465&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    position: absolute;
    background-color:#f0b9bb;
    border-style: double;
    border-color: #2c2829;
    border-radius: 10px;
    width: 400px;
    margin: 85px;
    padding:60px;
    right: 25%;
}